* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* common  */
.container-share {
  max-width: 1140px;
  margin: 0 auto;
}

/* navbar */
.bg1 {
  background: rgba(26, 11, 46, 1);
  border-bottom: 1px solid rgb(168, 163, 163);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  color: white;
}

.nav-menu > h2 {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.colorful-text {
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.bars {
  display: none;
}

.btn-1 {
  padding: 12px 18px;
  border: none;
  border-radius: 14px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: var(
    --Linear,
    linear-gradient(
      47deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

.btn-1:hover {
  background: rgba(62, 217, 147, 0.916);
}

/* banner section */

.banner {
  background-image: url(./images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  border: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.banner-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-image {
  position: relative;
}

.new-design {
  position: absolute;
  color: rgb(11, 10, 10);
  background: rgb(22, 190, 72);
  padding: 12px 18px;
  border-radius: 16px;
  right: 0;
  top: 120px;
  z-index: 6;
}

.banner-image .banner-image-1 {
  max-width: 350px;
  min-height: 350px;
  margin-top: 80px;
  text-align: center;
  position: relative;
}

.banner-image .banner-image-2 {
  position: absolute;
  top: 180px;
  right: 125px;
  bottom: 120px;
  max-width: 90px;
  min-height: 90px;
}

.banner-main > h2 {
  color: white;
  font-size: 3.6rem;
  font-weight: bold;
  margin-top: 14px;
}

.banner-main > P {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 8px;
  margin-bottom: 16px;
}

.btn-2 {
  margin: 20px;
}

.btn-2-color {
  padding: 12px 18px;
  border: none;
  border-radius: 14px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: var(
    --Linear,
    linear-gradient(
      47deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}
.btn-2 {
  display: flex;
  gap: 20px;
  /* margin-bottom: 10px; */
}

.btn-2 .btn-2-color {
  background-color:;
}

.btn-2 .btn-2-transparent {
  background-color: transparent;
  color: rgb(22, 190, 72);
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 18px;
  border: 1px solid rgb(22, 190, 72);
  border-radius: 20px;
}

/* podcast section */
.podcast {
  background: rgba(26, 11, 46, 1);
  padding: 30px;
  border: none;
}

.podcast-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
}

.podcast-text > h2 {
  font-size: 3.8rem;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 10px;
}

.podcast-text .p-1 {
  font-size: 0.9rem;
  max-width: 550px;
  line-height: 2;
  margin-bottom: 14px;
}

.podcast-text .p-2 {
  font-size: 0.9rem;
  margin-bottom: 18px;
}

.podcast-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.card-1 h1 {
  font-size: 3rem;
  color: rgb(22, 190, 72);
}

.card-1 p {
  font-size: 1rem;
  color: white;
}

/* techWave section */
.techWave {
  background: #230e3d;
  padding: 80px 0;
}

.techWave h3 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.techWave-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 20px;
}

/* common only techWive section*/
.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 35px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card img {
  width: 50px;
  margin-bottom: 20px;
}
.card h2 {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.card p {
  font-size: 0.9rem;
  color: #a0a0a0;
  line-height: 1.6;
}

.techwave-card-tall {
  grid-row: span 2;
}

.techwave-card-wide {
  grid-column: span 2;
}

.techwave-card-small {
  grid-column: span 1;
}

/* Featured section */
.Featured {
  background-color: #1a0b2e;
  color: white;
}

.h2-text h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 60px 0 0;
  margin-bottom: 40px;
}

.Featured-Episodes-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-video {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 25px;
  max-width: 320px;
  width: 100%;
  min-height: 380px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-video .youtube-video {
  width: 100%;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.video-text {
  padding: 20px;
}

.video-text h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.video-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.video-text p:last-child {
  margin-top: 15px;
  color: #00ff9c;
  font-weight: 600;
}

/* host section */

.host-bg {
  background: #1a0b2e;
  color: white;
  padding: 30px;
}
.host-section h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.host-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #533c7245;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.host-text h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.host-text p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.icons-host {
  display: flex;
  gap: 10px;
  justify-content: start;
}

.icons-host i {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(78, 27, 141);
  padding: 10px 16px;
  border-radius: 50%;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

/* footer */

footer {
  background-image: url("./images/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.footer-techWave {
  color: white;
  text-align: center;
  margin-top: 80px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-last-part {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .banner,
  .podcast,
  .techWave,
  .Featured,
  .host-bg,
  footer {
    margin-top: -1px;
  }
  .nav-menu,
  .btn-1 {
    display: none;
  }

  .bars {
    display: inline;
    margin-right: 10px;
  }

  /* banner */

  .banner-image .banner-image-1 {
    max-width: 200px;
    min-height: 200px;
    /* margin-top: 70px; */
  }

  .banner-image .banner-image-2 {
    position: absolute;
    top: 110px;
    right: 60px;
    bottom: 110px;
    max-width: 70px;
    min-height: 70px;
  }

  .new-design {
    right: 0;
    top: 50px;
    z-index: 6;
  }

  /* podcast */
  .podcast-text > h2 {
    font-size: 2rem;
  }

  .podcast-text .p-1 {
    font-size: 0.8rem;
    max-width: 300px;
  }

  .podcast-text .p-2 {
    font-size: 0.7rem;
  }

  .podcast-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0; /* margin adjust */
    padding-bottom: 0;
  }

  /* techWave section */

  .techWave-card {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }

  .techwave-card-small,
  .techwave-card-tall,
  .techwave-card-wide {
    grid-column: span 1;
    grid-row: span 1;
  }

  /* features section */

  .Featured-Episodes-video {
    flex-direction: column;
    gap: 5px;
  }

  .h2-text h2 {
    font-size: 2rem;
  }

  /* host section */
  .host-main {
    flex-direction: column;
  }

  .host-text,
  .icons-host {
    text-align: center;
    justify-content: center;
  }

  /* footer section */

  .footer-icon {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 5px; */
    /* margin-top: 10px;
    margin-bottom: 30px; */
  }
}
